.checkout-outer-container {
  display: flex;
  flex-flow: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--mainWhite); */
  height: 75vh;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.CheckOut h3 {
  color: var(--theme);
  text-align: center;
}

.checkout-input input {
  width: 200px;

  border-radius: 10px;
  outline: none;
  padding: 10px;
  margin-top: 5px;
}

.error-border {
  border: 1px solid red;
}

.simple-border {
  border: 1px solid var(--theme);
}

.checkout-details-container {
  /* border: 1px solid black; */
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-top: 25px;
}

.checkout-input textarea {
  resize: none;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  outline: none;
  margin-top: 5px;
  padding: 10px;
}

.checkout-summary-container {
  /* border: 1px solid black; */
  flex-basis: 25%;
  min-height: 50vh;
  text-align: center;
  background-color: var(--mainWhite);
  border-radius: 10px;
  /* align-self: stretch; */
  /* display: flex; */
  /* flex-flow: column; */
  /* justify-content: center; */
}

.checkout-summary-container h6 {
  margin-top: -10px;
}

.checkout-summary-container h4 {
  text-align: center;
  color: var(--theme);
}

.confirm-button button {
  background-color: var(--theme);
  width: 150px;
  height: 35px;
  border: 1px solid var(--theme);
  color: var(--mainWhite);
  cursor: pointer;
}


.cancel-button {
  margin-top: 10px;
  /* background-color: aliceblue; */
}

.cancel-button button {
  background-color: transparent;
  color: var(--theme);
  cursor: pointer;
  width: 150px;
  height: 35px;
  border: 1px solid var(--theme);
}

.summary {
  width: 80%;
  margin: auto;
}

.checkout-input input[type="number"]::-webkit-inner-spin-button,
.checkout-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkout-label label {
  font-size: 12px;
  color: rgb(73, 73, 73);
  margin-left: 4px;
}

.checkout-buttons-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:810px){
  .checkout-outer-container{
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: space-around;
  }

  .confirm-button{
    margin-left: 0;
    margin-top: 15px;
  }

  .summary{
    display: none;
  }

  .checkout-details-container{
    margin-top: 100px;
  }
}