:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: white;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --theme: #51b7bb;
}

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: white;
}

.App button {
  outline: none;
}
